table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
td[title="blue"] {
    color: blue;
}
td[title="gras"] {
    font-weight: bold;
}
th span[title="blue"] {
    color: blue;
}
th[title="blue"] {
    color: blue;
}
h4 span[title="blue"] {
    color: blue;
  vertical-align: super;
}
.rge{
    color: firebrick;
}
.hid{
   border: none;
}
.blue{
    background-color: cadetblue;
}
.red{
    background-color: red;
}
.violet{
    background-color: darkviolet;
}
.rose{
    background-color: violet;
}
.jaune{
    background-color: yellow;
}
#top{
    background-color: #eae9e9;
}
